* {
    outline: none;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1170px;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    color: $font-color;
    font-family: 'Gotham Pro';
    overflow-x: hidden;
    position: relative;
}

a {
    color: $font-color;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li {
    margin: 0;
    padding: 0;
}


li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}