.screen {
    h4 {
        text-align: center;
        text-transform: uppercase;
        color: #321F7E;
        font-size: 36px;
        margin-bottom: 60px;
    }
}

.main-screen {
    background: $violet;
    position: relative;
    max-height: 560px;

    .monet__1 {
        position: absolute;
        right: 87px;
        top: -120px;
        z-index: 1;
    }

    .monet__2 {
        position: absolute;
        right: 180px;
        bottom: 160px;
        z-index: 1;
    }

    .monet__3 {
        position: absolute;
        right: 0px;
        bottom: -125px;
        z-index: 1;
    }

    .fig1 {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 0;
    }

    .fig2 {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 0;
    }

    h1 {
        text-align: center;
        text-transform: uppercase;
        color: #fff;
    }

    .main-wrap {
        display: flex;
        align-items: flex-start;
        z-index: 2;
        position: relative;

        .left-col {
            width: 50%;

            h1 {
                max-width: 470px;
                text-align: left;
                margin-bottom: 2vw;
                line-height: 48px;
                margin-top: 120px;
            }

            p {
                font-size: 24px;
                font-weight: bold;
                color: #fff;
                margin-bottom: 40px;
            }

            .buttons {
                display: grid;
                grid-template-columns: repeat(2, 150px);
                grid-gap: 20px;

                .btn {
                    width: 100%;
                    background: transparent;
                    color: #fff;
                    padding: 0;
                }

                a.btn {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                .btn.invest {
                    background: $green;
                    color: $violet;
                }

                a.btn.video {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;

                    .video-icon {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 38px;
                        height: 38px;
                        border-radius: 8px;
                        background: $green;
                        margin-left: 4px;
                        margin-right: 20px;

                        img {
                            transition: 0.2s;
                        }
                    }
                }

                a.btn.video:hover {
                    .video-icon {
                        img {
                            transform: scale(1.1);
                            transition: 0.2s;
                        }
                    }

                }

            }
        }

        .right-col {
            width: 50%;
            margin-left: -75px;
            margin-right: -75px;

            .img-wrap {
                width: calc(100% + 150px);
            }
        }
    }
}

.screen-1 {
    padding-top: 140px;
    padding-bottom: 90px;
    background: $light-blue;

    .wrap-phone {
        display: flex;

        .left {
            width: 50%;

            .img-wrap {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                position: relative;

                .phone-img {
                    position: relative;
                    z-index: 1;
                }

                .card-img {
                    position: absolute;
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%);
                    z-index: 0;
                }
            }
        }

        .right {
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;

            .wrapper-for-button {
                position: relative;
                max-width: 380px;
                width: 100%;

                .swiper-button-prev,
                .swiper-container-rtl .swiper-button-next {
                    right: 50%;
                    top: -40px;
                    left: unset;
                    transform: rotate(90deg) translateY(-50%);
                }

                .swiper-button-next,
                .swiper-container-rtl .swiper-button-prev {
                    right: 50%;
                    bottom: -60px;
                    top: unset;
                    transform: rotate(90deg) translateY(-50%);
                }

                .swiper-button-next:after,
                .swiper-button-prev:after {
                    font-size: 20px;
                    font-weight: bold;
                    color: $green;

                }

                .swiper-button-next:after {
                    position: relative;
                    left: 2px;
                }

                .swiper-button-prev:after {
                    position: relative;
                    left: -2px;
                }

                .swiper-button-next,
                .swiper-button-prev {
                    width: 35px;
                    height: 35px;
                    background: #fff;
                    border-radius: 50%;
                    box-shadow: 0px 0 54.28px 4.72px rgba(5, 5, 71, 0.06);
                }

                .second-section-slider {

                    // height: 380px;
                    height: 450px;
                    margin-left: -50px;
                    margin-right: -50px;
                    margin-top: -50px;
                    margin-bottom: -50px;
                    padding: 50px;

                    .swiper-wrapper {
                        overflow: visible;


                        .swiper-slide {

                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            opacity: 0;

                            p {
                                font-weight: bold;
                                padding: 0 20px;
                                border-radius: 10px;
                                box-shadow: 0px 10px 54.28px 4.72px rgba(5, 5, 71, 0.06);
                                background: #fff;
                                height: 60px;
                                display: flex;
                                align-items: center;
                                margin: 10px 0;
                                width: 100%;
                                overflow: hidden;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                            }
                        }

                        .swiper-slide.swiper-slide-active {
                            opacity: 1;
                        }
                    }


                }
            }

        }
    }
}

.screen-2 {
    padding-top: 75px;
    padding-bottom: 120px;
    background: linear-gradient(to top, $light-blue, transparent);

    .wrap-clients {
        display: grid;
        grid-template-columns: repeat(auto-fit, 170px);
        grid-gap: 8.4vw;
        justify-content: center;

        &__block {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            &__img {
                border-radius: 50%;
                height: 170px;
                background: $green;
                width: 170px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 40px;
                transition: 0.2s;
            }

            &__img:hover {
                box-shadow: 0px 10px 24.28px 4.72px rgba(0, 155, 116, 0.2);
                transition: 0.2s;
            }

            &__title {
                text-transform: uppercase;
                font-size: 24px;
                font-weight: bold;
            }

        }


    }
}

.screen-3 {
    background: linear-gradient(to top, $light-blue, transparent);
    padding-top: 85px;
    padding-bottom: 250px;

    .investment {
        margin-bottom: 80px;
    }

    // .investment {
    //     display: grid;
    //     grid-template-columns: repeat(6, 1fr);
    //     grid-template-rows: repeat(3, 175px);
    //     grid-gap: 15px;

    //     &__block {
    //         color: #fff;
    //         text-transform: uppercase;
    //     }

    //     &__block:nth-child(1) {
    //         background: #E5233B;
    //     }

    //     &__block:nth-child(2) {
    //         background: #DFA63A;
    //     }

    //     &__block:nth-child(3) {
    //         background: #4C9F37;
    //     }

    //     &__block:nth-child(4) {
    //         background: #C5192B;
    //     }

    //     &__block:nth-child(5) {
    //         background: #FE3821;
    //     }

    //     &__block:nth-child(6) {
    //         background: #24BDE2;
    //     }

    //     &__block:nth-child(7) {
    //         background: #FEC314;
    //     }

    //     &__block:nth-child(8) {
    //         background: #A31742;
    //     }

    //     &__block:nth-child(9) {
    //         background: #FE6927;
    //     }

    //     &__block:nth-child(10) {
    //         background: #DE1167;
    //     }

    //     &__block:nth-child(11) {
    //         background: #FD9D25;
    //     }

    //     &__block:nth-child(12) {
    //         background: #BE8B2E;
    //     }

    //     &__block:nth-child(13) {
    //         background: #3F7E44;
    //     }

    //     &__block:nth-child(14) {
    //         background: #1597DA;
    //     }

    //     &__block:nth-child(15) {
    //         background: #58C02B;
    //     }

    //     &__block:nth-child(16) {
    //         background: #1A6B9F;
    //     }

    //     &__block:nth-child(17) {
    //         background: #204769;
    //     }

    //     &__block:nth-child(18) {
    //         background: #F2F2F4;
    //     }
    // }

    .bottom-investment {
        display: flex;
        padding-top: 50px;

        .left-col {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .right-col {
            display: flex;
            justify-content: center;
        }

        .left-col,
        .right-col {
            width: 50%;

            .row {
                .block {
                    height: 175px;
                    width: 175px;
                    background-color: #fff;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    border-radius: 10px;
                    box-shadow: 0px 10px 54.28px 4.72px rgba(5, 5, 71, 0.06);

                    &__img {
                        max-width: 96px;
                        margin-bottom: 15px;
                    }

                    &__text {
                        font-weight: bold;
                        font-size: 20px;
                    }
                }
            }




            .row:nth-child(even) {
                display: flex;
                justify-content: flex-end;
                padding-right: 1vw;
            }

            .row:nth-child(odd) {
                display: flex;
                justify-content: flex-start;
                padding-left: 4.2vw;
            }

        }
    }
}

.screen-4 {
    background: url(../img/screen5/back.png) center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 405px;
    position: relative;

    .container {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        z-index: 1;
    }

    .monet1 {
        position: absolute;
        left: 6.3vw;
        top: 3vw;
    }

    .monet2 {
        position: absolute;
        left: 11vw;
        bottom: -5vw;
    }

    .monet3 {
        position: absolute;
        right: 8vw;
        top: -6vw;
    }

    .monet4 {
        position: absolute;
        right: 16vw;
        bottom: -3vw;
    }

    .monet5 {
        position: absolute;
        right: 0;
        bottom: -12vw;
    }

    // overflow: hidden;
    .wrap-follow {
        display: flex;

        .left-col,
        .right-col {
            width: 50%;
        }

        .left-col {
            position: relative;
            display: flex;

            .phone-left {
                position: relative;
                top: -150px;
                margin-right: 25px;
            }

            .phone-right {
                position: relative;
                bottom: -150px;
            }
        }

        .right-col {
            display: flex;
            align-items: center;
            max-height: 405px;

            h4 {
                color: #fff;
                text-transform: uppercase;
                font-size: 36px;
                text-align: center;
                margin-bottom: 0;
            }
        }
    }

}

.screen-5 {
    padding: 100px 0 75px;

    position: relative;
    z-index: 2;
    background: $light-blue;


    .grafiks {
        display: grid;

        .grafik {
            padding: 25px;
            background: #fff;
            border-radius: 10px;
            box-shadow: 0px 10px 54.28px 4.72px rgba(5, 5, 71, 0.06);
        }

        .grafik-top {
            .grafik-1 {
                width: 100%;
                margin-bottom: 12px;
                position: relative;
                z-index: 1;

                .grafik__title__top {
                    font-size: 16px;
                    font-weight: bold;
                    color: $violet;
                    margin-bottom: 40px;
                }

                .grafik__title__bottom {
                    font-size: 14px;
                    margin-top: 35px;
                    color: $violet;
                }
            }
        }

        .grafik-bottom {
            display: flex;

            .grafik-2 {
                width: calc(55% - 12px);
                margin-right: 12px;
                background: $green;
                display: flex;
                max-height: 221px;

                .img-wrap {
                    max-width: 330px;
                    position: relative;

                    &__title {
                        color: #fff;
                        text-transform: uppercase;
                        font-weight: bold;
                        font-size: 16px;
                    }

                    .proc {
                        position: absolute;
                        font-weight: bold;
                        font-size: 24px;
                        color: $blue;
                        position: absolute;
                        top: 30%;
                        left: 50%;
                        transform: translateX(-50%);
                    }

                    img {
                        position: relative;
                        top: -20px;
                    }
                }

                .grafik__title {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    margin-right: 20px;
                    margin-right: auto;

                    &__top {
                        font-size: 24px;
                        text-transform: uppercase;
                        color: #fff;
                        font-weight: bold;
                        max-width: 180px;
                        line-height: 30px;
                    }

                    &__bottom {
                        font-size: 24px;
                        color: #fff;
                        font-weight: bold;

                        span {
                            color: $blue;
                            font-weight: bold;
                        }
                    }


                }
            }

            .grafik-3 {
                width: 45%;
                display: flex;
                max-height: 221px;

                .img-wrap {
                    max-width: 260px;
                    position: relative;
                    display: flex;
                    align-items: flex-end;
                    padding-bottom: 20px;

                    .year1 {
                        position: absolute;
                        left: 0;
                        font-size: 12px;
                        bottom: 0px;
                        font-weight: bold;
                        color: #ddd;
                    }

                    .year2 {
                        position: absolute;
                        right: 0;
                        font-size: 12px;
                        bottom: 0px;
                        font-weight: bold;
                        color: #ddd;
                    }
                }

                .grafik__title {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    max-width: 175px;
                    margin-right: auto;

                    &__top {
                        font-size: 24px;
                        font-weight: bold;
                        color: $violet;
                        text-transform: uppercase;
                    }

                    &__bottom {
                        font-size: 24px;
                        font-weight: bold;
                        color: $green;

                        span {
                            color: $blue;
                        }
                    }
                }
            }
        }




    }
}

.screen-6 {
    padding-top: 60px;
    padding-bottom: 100px;
    background: linear-gradient(to top, $light-blue, transparent);

    .roadmap {
        display: grid;
        grid-template-columns: 1fr minmax(400px, 780px) 1fr;
        margin-bottom: -100px;
        margin-top: 100px;

        .past-time {
            position: relative;
            z-index: 1;
        }

        .past-time:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            width: calc(100% + 57px);
            transform: translateY(-50%);
            height: 90px;
            background: $green;
            z-index: -1;
        }

        .present-time {
            display: grid;
            grid-template-columns: repeat(5, 125px);
            position: relative;
            justify-content: space-between;
            align-items: center;
            z-index: 2;

            &__block {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                height: 915px;
                position: relative;

                p {
                    height: 35px;
                    margin-bottom: 15px;
                    text-align: center;

                    span {
                        display: inline-block;
                        height: 35px;
                        background: $green;
                        text-align: center;
                        line-height: 35px;
                        white-space: nowrap;
                        border-radius: 10px;
                        color: #fff;
                        padding: 0 10px;
                        font-weight: bold;
                        text-transform: uppercase;
                    }
                }

                .top-list {
                    position: absolute;
                    top: 10px;
                    left: 50%;
                    transform: translateX(-50%);

                    p {
                        span {
                            position: relative;
                        }

                        span:after {
                            content: '';
                            position: absolute;
                            bottom: -25px;
                            left: 50%;
                            transform: translateX(-50%);
                            display: inline-block;
                            width: 4px;
                            height: 25px;
                            background: $green;
                        }


                    }

                    p:last-of-type {
                        span:after {
                            display: none;
                        }
                    }
                }

                .bottom-list {
                    position: absolute;
                    bottom: 0px;
                    left: 50%;
                    transform: translateX(-50%);

                    p {
                        span {
                            position: relative;
                        }

                        span:after {
                            content: '';
                            position: absolute;
                            top: -25px;
                            left: 50%;
                            transform: translateX(-50%);
                            display: inline-block;
                            width: 4px;
                            height: 25px;
                            background: $green;
                            z-index: -1;
                        }
                    }

                    p:first-of-type {
                        span:after {
                            display: none;
                        }
                    }
                }

                .center {
                    position: relative;
                    width: 124px;
                    height: 124px;
                    background: $green;
                    border-radius: 50%;
                    border: 4px solid #fff;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #fff;
                    font-size: 24px;
                    font-weight: bold;
                }
            }

            &__block:nth-child(odd) .center:before {
                content: '';
                display: inline-block;
                width: 4px;
                height: 55px;
                position: absolute;
                left: 50%;
                top: -65px;
                transform: translatex(-50%);
                background: linear-gradient(to bottom, $green, transparent);
                z-index: -1;
            }

            &__block:nth-child(even) .center:before {
                content: '';
                display: inline-block;
                width: 4px;
                height: 55px;
                position: absolute;
                left: 50%;
                bottom: -65px;
                transform: translatex(-50%);
                background: linear-gradient(to top, $green, transparent);
                z-index: -1;
            }

            &__block:first-of-type {
                .center {
                    background: $blue;
                    box-shadow: 0px 10px 54.28px 4.72px rgba(255, 255, 255, 0.8)
                }
            }
        }

        .present-time:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            transform: translateY(-50%);
            height: 90px;
            background: $blue;
            z-index: -1;
            border-radius: 50px;
        }

        .future-time {
            position: relative;
            z-index: 1;
        }

        .future-time:after {
            content: '';
            position: absolute;
            top: 50%;
            left: -57px;
            width: calc(100% + 57px);
            transform: translateY(-50%);
            height: 90px;
            background: $violet;
            z-index: -2;
        }
    }
}

.screen-7 {
    padding-top: 75px;
    background: linear-gradient(to top, $light-blue, transparent);


    .wrap-grafik-rost {
        display: flex;
        align-items: center;
        position: relative;
        top: -120px;


        .grafik-rost {
            margin-top: 65px;
            padding-top: 40px;
            padding-bottom: 20px;
            padding-left: 50px;
            padding-left: 50px;
            background: #fff;
            box-shadow: 0px 10px 54.28px 4.72px rgba(5, 5, 71, 0.06);
            border-radius: 10px;
            max-width: 950px;
            width: 100%;
            display: flex;
            margin-right: -100px;
            position: relative;

            .grafik-rost-title {
                position: absolute;
                font-weight: bold;
                font-size: 24px;
            }

            .grafik-rost-title-2 {
                position: absolute;
                font-weight: bold;
                top: 100px;
                font-size: 24px;
                color: $green;

                span {
                    color: $blue;
                }
            }
        }

        .phone-grafik-rost {
            position: relative;
            right: -35px;
        }
    }

}

.screen-8 {
    background: linear-gradient(to top, $light-blue, transparent);
    padding-top: 95px;
    padding-bottom: 105px;

    .team {
        padding-top: 30px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: space-between;

        &__block {
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &__img {
                margin-bottom: 40px;
            }

            &__name {
                font-size: 22px;
                font-weight: bold;
                text-transform: uppercase;
                margin-bottom: 10px;
            }

            &__post {
                font-size: 24px;
                font-weight: bold;
                text-transform: uppercase;
                margin-bottom: 10px;
            }
        }
    }
}

.screen-9 {
    padding-top: 70px;
    background: $violet;
    padding-bottom: 60px;
    position: relative;
    overflow: hidden;

    .left {
        position: absolute;
        left: 0;
        bottom: 0;
    }

    .right {
        position: absolute;
        right: 0;
        top: 0;
    }

    .container {
        position: relative;
        z-index: 1;

        h4 {
            text-transform: uppercase;
            color: #fff;
        }

        .wrap-soc {
            display: flex;
            justify-content: center;
            align-items: center;

            .left-col,
            .right-col {
                width: 50%;
            }

            .left-col {
                display: flex;
                justify-content: flex-end;

                .investnow {
                    width: 150px;
                    margin-right: 10px;
                    background: $green;
                }

                .pregister {
                    width: 150px;
                    background: transparent;
                    color: #fff;
                }
            }

            .right-col {
                display: flex;
                justify-content: center;

                a {
                    margin-right: 10px;
                }

            }
        }
    }
}

.screen-10 {
    padding: 35px 0;
    background: $blue;

    p {
        color: #fff;
        text-align: center;
        font-size: 14px;
        line-height: 19px;
    }
}


section.privacy {
    padding: 50px;

    h2 {
        margin: 20px 0;

    }
}

.layer {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    background: rgba(0, 0, 0, 0.8);
    z-index: 11;
    cursor: pointer;
    transition: 0.2s;
}

.layer.active {
    opacity: 1;
    visibility: visible;
    transition: 0.2s;
}

.popup {
    opacity: 0;
    visibility: hidden;
    transition: 0.2s;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 500px;
    max-height: 620px;
    margin: auto;
    z-index: 12;
    padding: 30px 60px 60px;
    background: #fff;
    border-radius: 10px;


    .cancel {
        position: absolute;
        border: 0;
        background: none;
        display: inline-block;
        width: 20px;
        height: 20px;
        right: 20px;
        top: 20px;
        cursor: pointer;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    form {
        display: flex;
        flex-direction: column;

        label {
            display: flex;
            flex-direction: column;
            margin-bottom: 15px;

            input[type="text"] {
                margin-top: 10px;
                height: 40px;
                border-radius: 5px;
                border: 1px solid #ccc;
                padding: 0 15px;
            }

            textarea {
                border-radius: 5px;
                border: 1px solid #ccc;
                padding: 15px;
                margin-top: 10px;
                height: 100px;
                resize: none;
            }

            input[type="checkbox"] {
                -webkit-appearance: checkbox;
                min-width: 20px;
                margin-right: 20px;
                height: 20px;
            }

            select {
                margin-top: 10px;
                height: 40px;
                border-radius: 5px;
                border: 1px solid #ccc;
                padding: 0 15px;
            }

            input[type='submit'] {
                border-radius: 5px;
                background: #1ad77c;
                color: #fff;
                height: 40px;
                border: 0;
                cursor: pointer;
            }
        }

        label[for='checkbox-field'] {
            flex-direction: row;
        }

        label.text-terms {
            font-size: 10px;

            a {
                font-weight: bold;
            }
        }
    }
}

.popup.active {
    opacity: 1;
    visibility: visible;
    transition: 0.2s;
}